apiVersion: argoproj.io/v1alpha1
kind: Rollout
# https://argoproj.github.io/argo-rollouts/features/specification/
metadata:
  name: {{ template "dos.fullname" . }}
  labels:
    app: {{ template "dos.name" . }}
    chart: {{ template "dos.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: {{ template "dos.name" . }}
      release: {{ .Release.Name }}
  strategy:
    canary:
      stableService: {{ template "dos.fullname" . }}
      canaryService: {{ template "dos.fullname" . }}-preview
      steps:
      - setWeight: 20
      - pause:
          duration: 10
      - setWeight: 40
      - pause:
          duration: 10
      - setWeight: 60
      - pause:
          duration: 10
      - setWeight: 80
      - pause:
          duration: 10
      - setWeight: 100
  template:
    metadata:
      labels:
        app: {{ template "dos.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
